.card
  .card-body
    .text-center
      h4.font-bold.text-default Stream Hours
      
      .stat-group 
        .row
          .col-md-4
            h5.font-bold.text-default Today:
            h5.font-bold.text-gold 06h36m
          .col-md-4
            h5.font-bold.text-default This Week:
            h5.font-bold.text-gold 15h55m
          .col-md-4
            h5.font-bold.text-default This Month
            h5.font-bold.text-gold 77h55m
        
      h2.font-bold.text-gold.text-uppercase 432h34m
      h5.font-bold.text-default Total Hours

.chart-container
  canvas#myChart(width='250', height='250')
