.header {
  padding: 10px 40px 7px 40px;
  background-color: #4b4b4b;
  height: 70px;
  position: absolute;
  width: 100%;
  color: white;
}

.header .login {
  cursor: pointer;
  display: inline-block;
}

.header .get-started {
  top: 1px;
  margin: 3px 10px 0px 10px;
  padding: 7px 20px;
  background-color: #b5a95c;
  border-radius: 7px;
  display: inline-block;
}

.sso-content {
  padding-top: 70px;
  height: 100%;
}

.sso-container {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow-y: scroll;
}

.text-container {
  width: 1000px;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

.text-container .suite-text {
  font-size: 80px;
  position: relative;
  top: 25px;
  color: #4b4b4b;
  margin-left: 10px;
  font-weight: bolder;
}

.text-container .suite-motto {
  font-size: 36px;
  margin-top: 20px;
}

.text-container .suite-login {
  background: #4b4b4b;
  color: #b5a95c;
  display: inline-block;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.text-container .suite-login .fa {
  margin-left: 20px;
}

.suite-rights {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  color: #4b4b4b;
}

.sso-modal-container {
  width: 1000px;
  position: absolute;
  left: 50%;
  z-index: 3;

}

.sso-modal-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #4b4b4b;
  z-index: 2;
}

.sso-modal-content {
  z-index: 3;
  position: relative;
  left: -50%;
  opacity: 1 !important;
  background: #969798;
  border-radius: 5px;
  padding: 40px 40px 20px 40px;
}

.sso-modal-content .form-control {
  border: none;
  display: inline;
}

.sso-modal-content .form-control-icon {
  width: calc(100% - 38px);
}

.sso-modal-content .fa {
  margin-right: 10px;
  font-size: 20px;
  color: #4b4b4b;
  position: relative;
  left: 10px;
}

.sso-modal-content .form-container {
  padding: 5px;
  background: white;
  margin: 10px 0;
}
.sso-modal-content .form-container.disabled {
  background: #eceeef;
}

.sso-modal-content .submit-button {
  background-color: #cec067;
  border-color: #cec067;
  margin: auto;
  width: 200px;
  text-transform: uppercase;
  margin-top: 40px;
}
