
 .header {
  padding: 10px 40px 7px 40px;
  background-color: #4b4b4b;
  height: 70px;
  position: absolute;
  width: 100%;
  color: white;
  z-index: 100;
  
}

.header .login {
  cursor: pointer;
  display: inline-block;
}

.header .get-started {
  top: 1px;
  margin: 3px 10px 0px 10px;
  padding: 7px 20px;
  background-color: #b5a95c;
  border-radius: 7px;
  display: inline-block;
}

.logo{
  height: 150px; 
  width: 150px;
}
.sso-content {
  padding-top: 70px;
  height: 100%;
}

.sso-container {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow-y: scroll;
}

.text-container {
  margin: auto;
  margin-top: 120px;
  text-align: center;
}

.text-container .suite-text {
  font-size: 80px;
  position: relative;
  top: 25px;
  color: #4b4b4b;
  margin-left: 10px;
  font-weight: bolder;
}

.text-container .suite-motto {
  font-size: 36px;
  margin-top: 20px;
}

.text-container .suite-login {
  background: #4b4b4b;
  color: #b5a95c;
  display: inline-block;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.text-container .suite-login .fa {
  margin-left: 20px;
}

.suite-rights {
  /* position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 10px; */
  color: #4b4b4b;
  margin-bottom: 30px;
  z-index: 3;
  margin-top: 50px;
}

.sso-modal-container {
  /* width: 1000px;
  position: absolute;
  left: 50%; */
  z-index: 3;
  margin-top: 100px;

}

.sso-modal-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #4b4b4b;
  z-index: 2;
}

.sso-modal-content {
  z-index: 3;
  position: relative;
  /* left: -50%; */
  opacity: 1 !important;
  background: #969798;
  border-radius: 5px;
  padding: 40px 40px 20px 40px;
}

.sso-modal-content .form-control {
  border: none;
  display: inline;
}

.sso-modal-content .form-control-icon {
  width: calc(100% - 38px);
}

.sso-modal-content .fa {
  margin-right: 10px;
  font-size: 20px;
  color: #4b4b4b;
  position: relative;
  left: 10px;
}

.sso-modal-content .form-container {
  padding: 5px;
  background: white;
  margin: 10px 0;
}
.sso-modal-content .form-container.disabled {
  background: #eceeef;
}

.sso-modal-content .submit-button {
  background-color: #cec067;
  border-color: #cec067;
  margin: auto;
  width: 200px;
  text-transform: uppercase;
  margin-top: 40px;
}
.text-danger{
  font-weight: 600;
}
.center-bottom{
  position: absolute;
  width: 100%;
  bottom: 20px;
}
/* >= 768px (small tablet) */
@media (min-width: 768px){
} 

/* >= 992px (medium laptop) */
@media (min-width: 992px){
  .sso-modal-content, .text-container{
    max-width: 700px;
  }

}
/* >= 1200px (large desktop) */
@media (min-width: 1200px){
  .sso-modal-content, .text-container{
    max-width: 1000px;
  }
  .suite-user{
    font-size: 2rem;
  }
} 

@media (max-width: 767px){
  
  .text-container{
    margin-top: 80px;
  }
  .logo{
    height: 100px;
    width: 100px;
  }
  .suite-text{
    font-size:60px !important;
    top:14px  !important;
  }
  .suite-motto{
    font-size:30px !important;
  }
  .suite-user{
    font-size: 1.2rem;
  }
  .background{
    top:0;
  }
 
} 