<div class="sso-container" style="">
  <div class="header">
    <div class="login" (click)="signInWithGoogle()">Log In</div>
    <div class="get-started">Get Started</div>
  </div>
  <div class="sso-content">
    <div class="text-container">
      <div>
        <img src="assets/sp-logo.png" style="height: 150px; width: 150px;">
        <span class="suite-text">Suite</span>
      </div>
      <div class="suite-motto">Let the productivity begin!</div>
      <div class="suite-login" (click)="signInWithGoogle()">
        <span style="text-transform: uppercase;">Login Via Google</span>
        <span class="fa fa-google-plus"></span>
      </div>
    </div>

    <div class="suite-rights">2018 SPSuite. All Rights Reserved</div>
  </div>
</div>
