.col-md-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.col-md-3 {
  padding-right: 5px;
  padding-left: 5px;
}

// #fff needs to be in a var
h1 {
  color: #fff;
}

#clock-timezone {
  color: #fff;
  font-size: 28px;
  text-align: right;
}

#project-details h1 {
  color: #fff;
}
