.card
  .card-body
    h1.card-title Projects


    table.table.table-striped
      thead
        tr
          th.font-semi-bold Name
          th.font-semi-bold Date Created
          th.font-semi-bold
      tbody
        tr
          td Kahit Ano lang
          td 2018-06-29

          td
            a('[routerLink]'="['/client/projects/ffc6cf85-cae4-4a02-98d7-a279736ed755']") View Details
      
