/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Source Sans Pro script=all rev=1";
}
.background{
  position:fixed;
  bottom:0;
  left:0;
}
@media (max-width: 767px){
  
  .background{
    top:0;
  }
 
} 